@{
	Layout = "";
	ShopInfo item = ViewBag.item;
	var fk_franchisings = Franchising.Select.ToList();
	var fk_Markettypes = Markettype.Select.ToList();
	var fk_Members = Member.Select.ToList();
}

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title" id="box-title"></h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<form id="form_add" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" name="__callback" value="edit_callback" />
				<div>
					<table cellspacing="0" rules="all" class="table table-bordered table-hover" border="1" style="border-collapse:collapse;">
						@if (item != null) {
							<tr>
								<td>logo,主图以id命名</td>
								<td><input name="Id" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td>市场楼层</td>
							<td id="Markettype_id_td"></td>
						</tr>
						<tr>
							<td>所属人</td>
							<td>
								<select name="Member_id">
									<option value="">------ 请选择 ------</option>
									@foreach (var fk in fk_Members) { <option value="@fk.Id">@fk.Username</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>地址</td>
							<td><input name="Address" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>面积</td>
							<td>
								<div class="input-group" style="width:200px;">
									<span class="input-group-addon">￥</span>
									<input name="Area" type="text" class="form-control" data-inputmask="'mask': '9', 'repeat': 10, 'greedy': false" data-mask />
									<span class="input-group-addon">.00</span>
								</div>
							</td>
						</tr>
						<tr>
							<td>商位号</td>
							<td><input name="Code" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>传真</td>
							<td><input name="Fax" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>功能开关</td>
							<td>
								<select name="Func_switch" data-placeholder="Select a 功能开关" class="form-control select2" multiple>
									@foreach (object eo in Enum.GetValues(typeof(ShopFUNC_SWITCH))) { <option value="@eo">@eo</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>点亮图标</td>
							<td>
								<select name="Icon" data-placeholder="Select a 点亮图标" class="form-control select2" multiple>
									@foreach (object eo in Enum.GetValues(typeof(ShopICON))) { <option value="@eo">@eo</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>客服</td>
							<td><input name="Kefu" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>店铺主营</td>
							<td><input name="Main_business" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>姓名</td>
							<td><input name="Nickname" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>状态</td>
							<td>
								<select name="State"><option value="">------ 请选择 ------</option>
									@foreach (object eo in Enum.GetValues(typeof(ShopSTATE))) { <option value="@eo">@eo</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>店铺名称</td>
							<td><input name="Title" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>franchising</td>
							<td>
								<select name="mn_Franchising" data-placeholder="Select a franchising" class="form-control select2" multiple>
									@foreach (FranchisingInfo fk in fk_franchisings) { <option value="@fk.Id">@fk.Title</option> }
								</select>
							</td>
						</tr>
						@if (item != null) {
							<tr>
								<td>创建时间</td>
								<td><input name="Create_time" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td width="8%">&nbsp</td>
							<td><input type="submit" value="@(item == null ? "添加" : "更新")" />&nbsp;<input type="button" value="取消" /></td>
						</tr>
					</table>
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">
	(function () {
		top.edit_callback = function (rt) {
			if (rt.success) return top.mainViewNav.goto('./');
			alert(rt.message);
		};

		$('#Markettype_id_td').html(yieldTreeSelect(yieldTreeArray(@Html.Raw(fk_Markettypes.ToJson()), null, 'Id', 'Parent_id'), '{#Title}', 'Id')).find('select').attr('name', 'Markettype_id');
		var form = $('#form_add')[0];
		var item = null;
		@if (item != null) {
			<text>
			item = @Html.Raw(item.ToJson());
			fillForm(form, item);
			item.mn_Franchising = @Html.Raw(item.Obj_franchisings.ToJson());
			for (var a = 0; a < item.mn_Franchising.length; a++) $(form.mn_Franchising).find('option[value="{0}"]'.format(item.mn_Franchising[a].Id)).attr('selected', 'selected');
			</text>
		}
		top.mainViewInit();
	})();
</script>