@{ 
	Layout = "";
}

<div class="box">
	<div class="box-header with-border">
		<h3 id="box-title" class="box-title"></h3>
		<span class="form-group mr15"></span><a href="./add" data-toggle="modal" class="btn btn-success pull-right">添加</a>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<form id="form_search">
				<div id="div_filter"></div>
			</form>
			<form id="form_list" action="./del" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" name="__callback" value="del_callback"/>
				<table id="GridView1" cellspacing="0" rules="all" border="1" style="border-collapse:collapse;" class="table table-bordered table-hover">
					<tr>
						<th scope="col" style="width:2%;"><input type="checkbox" onclick="$('#GridView1 tbody tr').each(function (idx, el) { var chk = $(el).find('td:first input[type=\'checkbox\']')[0]; if (chk) chk.checked = !chk.checked; });" /></th>
						<th scope="col">logo,主图以id命名</th>
						<th scope="col">市场楼层</th>
						<th scope="col">所属人</th>
						<th scope="col">地址</th>
						<th scope="col">面积</th>
						<th scope="col">商位号</th>
						<th scope="col">创建时间</th>
						<th scope="col">传真</th>
						<th scope="col">功能开关</th>
						<th scope="col">点亮图标</th>
						<th scope="col">客服</th>
						<th scope="col">店铺主营</th>
						<th scope="col">姓名</th>
						<th scope="col">状态</th>
						<th scope="col">店铺名称</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
						<th scope="col" style="width:5%;">&nbsp;</th>
					</tr>
					<tbody>
						@foreach(ShopInfo item in ViewBag.items) {
							<tr>
								<td><input type="checkbox" id="id" name="id" value="@item.Id" /></td>
								<td>@item.Id</td>
								<td>[@item.Markettype_id] @item.Obj_markettype?.Title</td>
								<td>[@item.Member_id] @item.Obj_member?.Username</td>
								<td>@item.Address</td>
								<td>@item.Area</td>
								<td>@item.Code</td>
								<td>@item.Create_time</td>
								<td>@item.Fax</td>
								<td>@item.Func_switch</td>
								<td>@item.Icon</td>
								<td>@item.Kefu</td>
								<td>@item.Main_business</td>
								<td>@item.Nickname</td>
								<td>@item.State</td>
								<td>@item.Title</td>
								<td><a href="../Member_shop/?Shop_id=@item.Id">Member_shop</a></td>
							<td><a href="../Product/?Shop_id=@item.Id">Product</a></td>
							<td><a href="../Shop_franchising/?Shop_id=@item.Id">Shop_franchising</a></td>
							<td><a href="../Shop_friendly_links/?Shop_id=@item.Id">Shop_friendly_links</a></td>
							<td><a href="../Shopsecurity/?Shop_id=@item.Id">Shopsecurity</a></td>
							<td><a href="../Shopstat/?Shop_id=@item.Id">Shopstat</a></td>
							<td><a href="./edit?Id=@item.Id">修改</a></td>
							</tr>
						}
					</tbody>
				</table>
			</form>
			<a id="btn_delete_sel" href="#" class="btn btn-danger pull-right">删除选中项</a>
			<div id="kkpager"></div>
		</div>
	</div>
</div>

@{
	var fk_markettypes = Markettype.Select.ToList();
	var fk_members = Member.Select.ToList();
	var fk_franchisings = Franchising.Select.ToList();
}
<script type="text/javascript">
	(function () {
		top.del_callback = function(rt) {
			if (rt.success) return top.mainViewNav.goto('./');
			alert(rt.message);
		};

		var qs = _clone(top.mainViewNav.query);
		var page = cint(qs.page, 1);
		delete qs.page;
		$('#kkpager').html(cms2Pager(@ViewBag.count, page, 20, qs, 'page'));
		var fqs = _clone(top.mainViewNav.query);
		delete fqs.page;
		var fsc = [
			{ name: 'Markettype', field: 'Markettype_id', text: @Html.Raw(JsonConvert.SerializeObject(fk_markettypes.Select(a => a.Title))), value: @Html.Raw(JsonConvert.SerializeObject(fk_markettypes.Select(a => a.Id))) },
			{ name: 'Member', field: 'Member_id', text: @Html.Raw(JsonConvert.SerializeObject(fk_members.Select(a => a.Username))), value: @Html.Raw(JsonConvert.SerializeObject(fk_members.Select(a => a.Id))) },
			{ name: 'Franchising', field: 'Franchising_id', text: @Html.Raw(JsonConvert.SerializeObject(fk_franchisings.Select(a => a.Title))), value: @Html.Raw(JsonConvert.SerializeObject(fk_franchisings.Select(a => a.Id))) },
			null
		];
		fsc.pop();
		cms2Filter(fsc, fqs);
		top.mainViewInit();
	})();
</script>
