@{
	Layout = "";
	MarkettypeInfo item = ViewBag.item;
	var fk_categorys = Category.Select.ToList();
	var fk_Markets = Market.Select.ToList();
	var fk_Markettypes = Markettype.Select.ToList();
}

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title" id="box-title"></h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<form id="form_add" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" name="__callback" value="edit_callback" />
				<div>
					<table cellspacing="0" rules="all" class="table table-bordered table-hover" border="1" style="border-collapse:collapse;">
						@if (item != null) {
							<tr>
								<td>id</td>
								<td><input name="Id" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td>市场</td>
							<td>
								<select name="Market_id">
									<option value="">------ 请选择 ------</option>
									@foreach (var fk in fk_Markets) { <option value="@fk.Id">@fk.Title</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>父</td>
							<td id="Parent_id_td"></td>
						</tr>
						<tr>
							<td>排序</td>
							<td><input name="Sort" type="text" class="form-control" data-inputmask="'mask': '9', 'repeat': 6, 'greedy': false" data-mask style="width:200px;" /></td>
						</tr>
						<tr>
							<td>结构名称</td>
							<td><input name="Title" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>category</td>
							<td>
								<select name="mn_Category" data-placeholder="Select a category" class="form-control select2" multiple>
									@foreach (CategoryInfo fk in fk_categorys) { <option value="@fk.Id">@fk.Title</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td width="8%">&nbsp</td>
							<td><input type="submit" value="@(item == null ? "添加" : "更新")" />&nbsp;<input type="button" value="取消" /></td>
						</tr>
					</table>
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">
	(function () {
		top.edit_callback = function (rt) {
			if (rt.success) return top.mainViewNav.goto('./');
			alert(rt.message);
		};

		$('#Parent_id_td').html(yieldTreeSelect(yieldTreeArray(@Html.Raw(fk_Markettypes.ToJson()), null, 'Id', 'Parent_id'), '{#Title}', 'Id')).find('select').attr('name', 'Parent_id');
		var form = $('#form_add')[0];
		var item = null;
		@if (item != null) {
			<text>
			item = @Html.Raw(item.ToJson());
			fillForm(form, item);
			item.mn_Category = @Html.Raw(item.Obj_categorys.ToJson());
			for (var a = 0; a < item.mn_Category.length; a++) $(form.mn_Category).find('option[value="{0}"]'.format(item.mn_Category[a].Id)).attr('selected', 'selected');
			</text>
		}
		top.mainViewInit();
	})();
</script>