@{
	Layout = "";
	Product_commentInfo item = ViewBag.item;
	var fk_Members = Member.Select.ToList();
	var fk_Orders = Order.Select.ToList();
	var fk_Products = Product.Select.ToList();
	var fk_Productitems = Productitem.Select.ToList();
}

<div class="box">
	<div class="box-header with-border">
		<h3 class="box-title" id="box-title"></h3>
	</div>
	<div class="box-body">
		<div class="table-responsive">
			<form id="form_add" method="post">
				@Html.AntiForgeryToken()
				<input type="hidden" name="__callback" value="edit_callback" />
				<div>
					<table cellspacing="0" rules="all" class="table table-bordered table-hover" border="1" style="border-collapse:collapse;">
						@if (item != null) {
							<tr>
								<td>id</td>
								<td><input name="Id" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td>会员</td>
							<td>
								<select name="Member_id">
									<option value="">------ 请选择 ------</option>
									@foreach (var fk in fk_Members) { <option value="@fk.Id">@fk.Username</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>订单</td>
							<td>
								<select name="Order_id">
									<option value="">------ 请选择 ------</option>
									@foreach (var fk in fk_Orders) { <option value="@fk.Id">@fk.Express_name</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>产品</td>
							<td>
								<select name="Product_id">
									<option value="">------ 请选择 ------</option>
									@foreach (var fk in fk_Products) { <option value="@fk.Id">@fk.Title</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>产品项目</td>
							<td>
								<select name="Productitem_id">
									<option value="">------ 请选择 ------</option>
									@foreach (var fk in fk_Productitems) { <option value="@fk.Id">@fk.Name</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>评价内容</td>
							<td><input name="Content" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>昵称</td>
							<td><input name="Nickname" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>价格评价</td>
							<td><input name="Star_price" type="text" class="form-control" data-inputmask="'mask': '9', 'repeat': 6, 'greedy': false" data-mask style="width:200px;" /></td>
						</tr>
						<tr>
							<td>质量评价</td>
							<td><input name="Star_quality" type="text" class="form-control" data-inputmask="'mask': '9', 'repeat': 6, 'greedy': false" data-mask style="width:200px;" /></td>
						</tr>
						<tr>
							<td>满意评价</td>
							<td><input name="Star_value" type="text" class="form-control" data-inputmask="'mask': '9', 'repeat': 6, 'greedy': false" data-mask style="width:200px;" /></td>
						</tr>
						<tr>
							<td>状态</td>
							<td>
								<select name="State"><option value="">------ 请选择 ------</option>
									@foreach (object eo in Enum.GetValues(typeof(Product_commentSTATE))) { <option value="@eo">@eo</option> }
								</select>
							</td>
						</tr>
						<tr>
							<td>标题</td>
							<td><input name="Title" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						<tr>
							<td>图片</td>
							<td><input name="Upload_image_url" type="text" class="datepicker" style="width:60%;" /></td>
						</tr>
						@if (item != null) {
							<tr>
								<td>创建时间</td>
								<td><input name="Create_time" type="text" readonly class="datepicker" style="width:20%;background-color:#ddd;" /></td>
							</tr>
						}
						<tr>
							<td width="8%">&nbsp</td>
							<td><input type="submit" value="@(item == null ? "添加" : "更新")" />&nbsp;<input type="button" value="取消" /></td>
						</tr>
					</table>
				</div>
			</form>

		</div>
	</div>
</div>

<script type="text/javascript">
	(function () {
		top.edit_callback = function (rt) {
			if (rt.success) return top.mainViewNav.goto('./');
			alert(rt.message);
		};

		var form = $('#form_add')[0];
		var item = null;
		@if (item != null) {
			<text>
			item = @Html.Raw(item.ToJson());
			fillForm(form, item);
			</text>
		}
		top.mainViewInit();
	})();
</script>